.ant-form-item-label > label {
    color: rgba(255,255,255,0.65) !important;
}

.Form {
    background:rgba(60,60,0,0.5);
    padding:30px;
    position: relative;
    top: -100px;
}

.fb-button {
    height: 32px;
    color: white;
    background-color: #3b5998;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    width: 160px;
}