.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background: linear-gradient(to bottom , rgb(102, 18, 19), rgb(41, 9, 10)) !important;
    
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: linear-gradient(to bottom , rgb(102, 18, 19), rgb(41, 9, 10)) !important;
}

.menuButton {
    display:none !important;
}

@media screen and (max-width: 730px) {
    .ant-menu.ant-menu-dark .ant-menu-item-selected {
        display:none;
    }

    .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
        display:none !important;
    }

    .header {
        padding: 0px !important;
    }

    .menuButton {
        display: block !important;
        color: rgba(255,255,255,0.65) !important;
        font-size: 25px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 731px) {
    .ant-dropdown {
        display:none !important;
    }
}

.drawer-menu {
    padding: 20px 0;
}

.ant-drawer-close {
    color: rgba(255,255,255,0.65) !important;
}

.drawer-menu  a {
    
    color: rgba(255,255,255,0.65);
}

.ant-drawer-content {
    background-color: rgb(40,40,40) !important;
}

.ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.45) !important;
}

.header {
    /*background-color: rgba(129,34,35,1) !important;*/
    background-image: linear-gradient(to bottom , rgb(133, 23, 25), rgb(63,13,15)) !important;
    z-index: 1000;
}

@media screen and (max-width: 1050px) {
    
    .toggleHeader {
        display:none;
    }
}
